<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.holyak.skhidnytsa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Skhidnytsa">
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
        <activity
            android:name=".NewMain"
            android:label="@string/app_name"
            android:theme="@style/Theme.Skhidnytsa.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <activity -->
        <!-- android:name=".MainActivity" -->
        <!-- android:label="@string/app_name" -->
        <!-- android:theme="@style/Theme.Skhidnytsa.NoActionBar"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".ItemListActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Skhidnytsa.NoActionBar" />
        <activity
            android:name=".ClosePlaceActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Skhidnytsa.NoActionBar" />
        <activity
            android:name=".AboutVilligeActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Skhidnytsa.NoActionBar" />
        <activity
            android:name=".ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".ItemListActivity"
            android:theme="@style/Theme.Skhidnytsa.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.holyak.skhidnytsa.ItemListActivity" />
        </activity>
    </application>

</manifest>